*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
body{
    background-image: url(hotel8.jpg) ;
    background-size: cover;
}

#main{
    width: 100%;
  
}
.log{
    width:6%;
}
.corps{
    width: 100%;
   background-image: url(h.jpg);
}
#nav1{
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 0.8;
    line-height: 90px;
  
}


#nav1 ul{
    float: right; 
    margin-right: 30px;
}

#nav1 ul li{
    list-style-type: none;
    display: inline-block;
}
#nav1 ul li:hover{
    background-color: #f39d1a; 
    transition: 0.8s all;
}
#nav1 ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;


}
#nav1 ul li a.con {
    background-color: #f39d1a; 
}

section {

    margin-top: 40px;
    margin-right: 250px;
    margin-bottom: 30px;
    margin-left: 250px;

    
}
section article h1{
    text-align: center;
}
article{
    position: relative;
    border:2px inset orange;
    padding: 12px;
	font-size: 20px;
    font-family: "Lucida Calligraphy";
    background-color: white;
}
form select{
    height: 30px;
    width: 350px;
}
input{
    height: 30px;
    width: 250px;
}
label
{
	display: block;
	width: 250px;
	float: left;
}

button{
    background-color: green;
    border: 2px inset greenyellow;
font-size: 15px;
border-radius: 10px;
padding: 8px 12px;
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    position: absolute;
    width: 100%;
    height: 100px;
}

#foot{
    width: 100%;
    background-image: url(hotel.jpg);
    background-size: cover;
}
#nav{
    width: 100%;
    height: 250px;
    background-color: black;
    opacity: 0.8;
  
}
#nav ul li:hover{
    background-color: orange; 
    transition: 0.5s all;
}

#infologo{
    
    position: absolute;
    width: 300px;
    height: 120px;
    top: 50px;
    left: 80px;
    color: white;

}

#pages{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 450px;
    color: white;

}


#contactinfo{
    position: absolute;
    width: 300px;
    height:180px;
    top: 50px;
    left: 600px;
    color: white;

}


#follow{
    position: absolute;
    width: 300px;
    height:100px;
    top: 50px;
    left: 950px;
    color: white;

}





#twitter{
    width: 40px;
    height: 40px;
}

#insta{
    width: 40px;
    height: 40px;
}

#fb{
    width: 40px;
    height: 40px;
}
#youtube{
    width: 40px;
    height: 40px;

}
li{
    list-style-type: none;
}
ul li{
    font-size: 20px;
}
ul li a{
    text-decoration: none;
  
}

.titre{
    font-family:Verdana;
    font-size: 20px;
}


@media screen and (max-width : 1000px) {

    #main{
        width: 100%;
      
    }
    .corps{
        width: 100%;
       background-image: url(h.jpg);
    }
    #nav1{
        
        width: 100%;
        height: 50px;
        background-color: #000;
        opacity: 0.8;
        line-height: 80px;
      
    }
    
    
    #nav1 ul{
        float: right; 
        margin-right: 5px;
    }
    
    #nav1 ul li{
        list-style-type: none;
        display: inline-block;
        font-size: 22px;
    }
    #nav1 ul li:hover{
        background-color: #f39d1a; 
        transition: 0.8s all;
    }
    #nav1 ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
    
    
    }
        section {
    
            margin-top: 20px;;
            margin-right: 0;
            margin-bottom: 30px;
            margin-left: 0;
        
            
        }
        section article h1{
            text-align: center;
        }
        article{
            position: relative;
            border:2px inset orange;
            font-size: 20px;
            font-family: "Lucida Calligraphy";
            background-color: white;
        }
        
        input{
            height: 30px;
            width: 250px;
        }
        label
        {
            display: block;
            width: 200px;
            float: left;
        }
        
        button{
            background-color: green;
            border: 2px inset greenyellow;
        font-size: 15px;
        border-radius: 10px;
        padding: 8px 12px;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    
    
}

@media screen and (max-width : 1000px) {





#foot{
    width: 100%;
    background-image: url(hotel.jpg);
    background-size: cover;
    margin: 0;
    float: left;
}
@media screen and (max-width : 1000px) {





#foot{
    width: 100%;
    background-image: url(hotel.jpg);
    background-size: cover;
    margin: 0;
    float: left;
}
#nav{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    display: block;
  
}
#nav ul li:hover{
    background-color: orange; 
    transition: 0.5s all;
}
#infologo, #pages, #contactinfo, #follow{
    width: 50%;
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
 
}

#infologo{
    margin-left: 0;
    margin-right: 0;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -370px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -520px;
   
}




#twitter{
    width: 40px;
    height: 40px;
}

#insta{
    width: 40px;
    height: 40px;
}

#fb{
    width: 40px;
    height: 40px;
}
#youtube{
    width: 40px;
    height: 40px;

}
li{
    list-style-type: none;
}
ul li{
    font-size: 20px;
}
ul li a{
    text-decoration: none;
  
}

.titre{
    font-family:Verdana;
    font-size: 20px;
}
hr{
    display: none;
}

 }


 @media screen and (max-width : 700px) {

    #main{
        width: 100%;
      
    }
    .corps{
        width: 100%;
       background-image: url(h.jpg);
    }
    #nav1{
        
        width: 100%;
        height: 40px;
        background-color: #000;
        opacity: 0.8;
        line-height: 50px;
      
    }
    
    
    #nav1 ul{
        float: right; 
        margin-right: 5px;
    }
    
    #nav1 ul li{
        list-style-type: none;
        display: inline-block;
        font-size: 20px;
    }
    #nav1 ul li:hover{
        background-color: #f39d1a; 
        transition: 0.8s all;
    }
    #nav1 ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
    
    }


#infologo{
    margin-right: -60px;
 margin-left: -25px;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -405px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -590px;
   
}
        #nav{
            width: 100%;
            height: 130vh;
            background-color: black;
            opacity: 0.8;
            display: block;
          
        }
    hr{
        display: none;
    }
}

@media screen and (max-width : 600px) {

    #main{
        width: 100%;
      
    }
    .corps{
        width: 100%;
       background-image: url(h.jpg);
    }
    #nav1{
        
        width: 100%;
        height: 40px;
        background-color: #000;
        opacity: 0.8;
        line-height: 50px;
      
    }
    
    
    #nav1 ul{
        float: right; 
        margin-right: 5px;
    }
    
    #nav1 ul li{
        list-style-type: none;
        display: inline-block;
        font-size: 15px;
    }
    #nav1 ul li:hover{
        background-color: #f39d1a; 
        transition: 0.8s all;
    }
    #nav1 ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
    
    
    }
    #nav{
        width: 100%;
        height: 130vh;
        background-color: black;
        opacity: 0.8;
        display: block;
      
    }

#infologo{
    margin-right: -60px;
 margin-left: -55px;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -445px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -600px;
   
}
 hr{
    display: none;
}
}
#nav{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    display: block;
  
}
#nav ul li:hover{
    background-color: orange; 
    transition: 0.5s all;
}
#infologo, #pages, #contactinfo, #follow{
    width: 50%;
    border-left: none;
    border-right: none;
    margin-left: 0;
    margin-right: 0;
 
}

#infologo{
    margin-left: 0;
    margin-right: 0;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -370px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -520px;
   
}




#twitter{
    width: 40px;
    height: 40px;
}

#insta{
    width: 40px;
    height: 40px;
}

#fb{
    width: 40px;
    height: 40px;
}
#youtube{
    width: 40px;
    height: 40px;

}
li{
    list-style-type: none;
}
ul li{
    font-size: 20px;
}
ul li a{
    text-decoration: none;
  
}

.titre{
    font-family:Verdana;
    font-size: 20px;
}
hr{
    display: none;
}

 }


 @media screen and (max-width : 700px) {

    #main{
        width: 100%;
      
    }
    .corps{
        width: 100%;
       background-image: url(h.jpg);
    }
    #nav1{
        
        width: 100%;
        height: 40px;
        background-color: #000;
        opacity: 0.8;
        line-height: 50px;
      
    }
    
    
    #nav1 ul{
        float: right; 
        margin-right: 5px;
    }
    
    #nav1 ul li{
        list-style-type: none;
        display: inline-block;
        font-size: 20px;
    }
    #nav1 ul li:hover{
        background-color: #f39d1a; 
        transition: 0.8s all;
    }
    #nav1 ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
    
    }


#infologo{
    margin-right: -60px;
 margin-left: -25px;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -405px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -590px;
   
}
        #nav{
            width: 100%;
            height: 130vh;
            background-color: black;
            opacity: 0.8;
            display: block;
          
        }
    hr{
        display: none;
    }
}

@media screen and (max-width : 600px) {

    #main{
        width: 100%;
      
    }
    .corps{
        width: 100%;
       background-image: url(h.jpg);
    }
    #nav1{
        
        width: 100%;
        height: 40px;
        background-color: #000;
        opacity: 0.8;
        line-height: 50px;
      
    }
    
    
    #nav1 ul{
        float: right; 
        margin-right: 5px;
    }
    
    #nav1 ul li{
        list-style-type: none;
        display: inline-block;
        font-size: 15px;
    }
    #nav1 ul li:hover{
        background-color: #f39d1a; 
        transition: 0.8s all;
    }
    #nav1 ul li a{
        text-decoration: none;
        color: #fff;
        padding: 5px;
    
    
    }
    #nav{
        width: 100%;
        height: 130vh;
        background-color: black;
        opacity: 0.8;
        display: block;
      
    }

#infologo{
    margin-right: -60px;
 margin-left: -55px;
}

#follow{
    height: 20px;
    margin-top: 500px;
   margin-left: -860px;
   width: 48%;
}
#pages{
        margin-top: 180px;
        margin-left: -445px;
   
}
#contactinfo{
    height: 20px;
    margin-top: 320px;
    width: 100%;
   position: absolute;
   margin-left: -600px;
   
}
 hr{
    display: none;
}
}